.centered {
    text-align: center;
}

.customButton {
    width: 150px;
}

.error {
    color: #FF0000;
}
#connectionErrorModal{
    text-align: center;
}
#mdl-body{
    height: 100px;
    width: 600px
}
#mdl-footer{
    text-align: center;
}