p{
    font-size: large;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
#title{
    font-size: large;
    text-align: center;
    margin-bottom: 5px;
}
.block-center{
    text-align: center;
}
