.main-block{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
dl{
    margin-top: 5px;
    margin-bottom: 5px;
}
dt{
    font-size: large;
    text-align: center;
    margin-bottom: 5px;
}
dd{
    text-align: center;
}