.languageChoose {
    display: inline;
}

.logo {
    width: 100px;
    display: inline;
}

.serverTime {
    display: inline-block;
    margin-top: 29px;
    margin-right: 5px;
    float: right;
}

.admin-subMenu {
    margin-top: 3px;
    margin-bottom: 8px;
}

.dropdown-submenu > a:after {
    display: block;
    float: left;
    width: 0;
    height: 0;
    margin-top: 3px;
    vertical-align: middle;
    border-color: transparent;
    border-right-color: #262626;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: " ";
}