.header {
	background-color: #00BCE1;
	color: #5E5E5E;
	font-size: 200%;
	text-align: left;
}
.header-username {
	color: #FFFFFF;
	font-style: normal;
}
.field-label {
	font-size: 130%;
	text-align: left;
	padding-left: 5px;
}
.marked {
	background-color: #BBBBBB;
	color: #FFFFFF;
}
.button-update {
	background-color: #00BCE1;
	color: #FFFFFF;
}
.button-delete {
	background-color: #B80F00;
	color: #FFFFFF;
}
.error {
	color: #FF0000;
}